# Describe behaviour
snippet it
	it('${1:does_something}', function () {

		expect(${2:something}).${3:to.be.true};
	});
# Describe unit
snippet descr
	describe('${1:something}', function () {
		it('${2:works}', function () {

			expect(${3:true}).${4:to.be.true};
		});
	});
# Add TODO note
snippet TODO
	// TODO: ${1}
